{
    "AudioPathTagMap" : {
        "vpic": "playaudio.jpg",
        "paths":[
            {"path":"E:/音乐", "vpath":"/eaudios"},
            {"path":"D:/Users/aywhe/Music", "vpath":"/daudios"}
        ]
    },
    "PicturePathTagMap" : {
        "vpic": "imageshow.jpg",
        "paths":[
            {"path":"D:/Users/aywhe/Pictures/Pictures/llz", "vpath":"/llz"},
            {"path":"D:/Users/aywhe/Pictures/Pictures/icons", "vpath":"/icons"},
            {"path":"D:/Users/aywhe/Pictures/Pictures/Uc", "vpath":"/Uc"}
        ]
    },
    "VideoPathTagMap" : {
        "DVideos":{
            "path" : "D:/Users/aywhe/Videos", "vpath" : "/DVideos", "vpic" : "DVideos.png"
        },
        "EVideos":{
            "path" : "E:/电影", "vpath" : "/EVideos", "vpic" : "EVideos.png"
        },
        "ETelevision":{
            "path" : "E:/电视剧", "vpath" : "/ETelevision", "vpic" : "ETelevision.png"
        },
        "EAnime":{
            "path" : "E:/动漫", "vpath" : "/EAnime", "vpic" : "EAnime.png"
        },
        "EDocumentary":{
            "path" : "E:/纪录片", "vpath" : "/EDocumentary", "vpic" : "EDocumentary.png"
        },
        "ETutorialVideos":{
            "path" : "E:/视频教程", "vpath" : "/ETutorialVideos", "vpic" : "ETutorialVideos.png"
        },
        "EGameVideos":{
            "path" : "E:/Games/Videos", "vpath" : "/EGameVideos", "vpic" : "EGameVideos.png"
        }
    }
}