<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>全屏图片轮播</title>

  <!-- Swiper CSS -->
  <link rel="stylesheet" href="css/swiper-bundle.min.css" />
  <link rel="stylesheet" href="css/imageshow.css" />

</head>

<body>
  <!-- 全屏轮播容器 -->
  <div class="swiper-container">
    <div class="swiper-wrapper" id="slideshowWrapper"></div>

    <!-- 左右按钮 -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <!-- 提示 -->
    <div id="clickTip"></div>
  </div>

  <!-- Swiper JS -->
  <script src="js/swiper-bundle.min.js"></script>

  <!-- 自定义脚本 -->
  <script>
    const defaultDelay = '6000';
    // 获取参数
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const subDir = urlParams.has('subDir') ? urlParams.get('subDir') : '';
    const subDirs = urlParams.has('subDirs') ? urlParams.get('subDirs') : '';
    const excludes = urlParams.has('excludes') ? urlParams.get('excludes') : '';
    const randomShow = urlParams.has('randomShow') ? urlParams.get('randomShow') : 'true';
    const delay = urlParams.has('delay') ? urlParams.get('delay') : defaultDelay;

    // 获取图片列表
    let allImages = [];
    let allImagesEndIdx = 20;
    let autoPlayDelay = parseInt(delay);
    let isPaused = false;
    var isHandledSlide = false; // 接管轮播动作
    var g_wrapper = null;

    // 处理参数
    if(isNaN(autoPlayDelay) || autoPlayDelay <= 0){
      autoPlayDelay = parseInt(defaultDelay);
      console.warn('delay value "' + delay + '" invaild, so set autoPlayDelay as default value ' + autoPlayDelay);
    }

    // 随机排列数组元素
    function shuffleArray(arr) {
      for (let i = arr.length - 1; i > 0; i--) {
        const j = Math.floor(Math.random() * (i + 1));
        [arr[i], arr[j]] = [arr[j], arr[i]];
      }
      return arr;
    }

    fetch('/api/all-images?subDirs=' + encodeURIComponent(subDirs)
      + '&subDir=' + encodeURIComponent(subDir)
      + '&excludes=' + encodeURIComponent(excludes)
    )
      .then(response => response.json())
      .then(data => {
        if ('false' == randomShow || 'False' == randomShow) {
          allImages = data.images;
        } else {
          allImages = shuffleArray(data.images); // 随机打乱
        }
        
        initSlideshow();
      })
      .catch(error => console.error('获取图片失败:', error));

    function restoreSlideOntime() {
      if (isPaused || allImagesEndIdx >= allImages.length) return;
      //console.log("autoplay callback, allImagesEndIdx: " + allImagesEndIdx);
      const imageUrl = allImages[allImagesEndIdx];
      const index = allImagesEndIdx;
      allImagesEndIdx = allImagesEndIdx + 1;
      const slide = document.createElement('div');
      slide.className = 'swiper-slide';
      slide.innerHTML = `<img src="${imageUrl}" alt="轮播图片 ${index + 1}">`;
      // 接管轮播动作
      if (!isHandledSlide) {
        g_wrapper.autoplay.stop();
        isHandledSlide = true;
      }
      // 删除第一个，尾部加一个
      g_wrapper.appendSlide(slide);
      g_wrapper.removeSlide(0);
      g_wrapper.update();
      g_wrapper.slideNext();
      //g_wrapper.autoplay.start();
    }

    function initSlideshow() {
      if (!Array.isArray(allImages) || allImages.length == 0) return;
      //console.log('start initSlideshow');
      const wrapper = document.getElementById('slideshowWrapper');
      wrapper.innerHTML = '';
      if (allImagesEndIdx > allImages.length) allImagesEndIdx = allImages.length;
      for (let i = 0; i < allImagesEndIdx; i++) {
        const imageUrl = allImages[i];
        const index = i;
        const slide = document.createElement('div');
        slide.className = 'swiper-slide';
        slide.innerHTML = `<img src="${imageUrl}" alt="轮播图片 ${index + 1}">`;
        wrapper.appendChild(slide);
      }
      //allImages.forEach((imageUrl, index) => { });

      // 初始化 Swiper
      g_wrapper = new Swiper('.swiper-container', {
        lazy: true,
        loop: false,
        autoplay: {
          delay: autoPlayDelay,
          disableOnInteraction: false // 用户交互后继续自动轮播
        },

        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
      });
      //
      document.getElementById("slideshowWrapper").addEventListener('click', function (e) {
        isPaused = !isPaused;
        if ((g_wrapper != null) && (!isHandledSlide)) {
          // 还没有接管轮播动作时，还是按照原来的方式
          if (!isPaused) {
            g_wrapper.autoplay.start();
          }
          else {
            g_wrapper.autoplay.stop();
          }
        }
        const tip = document.getElementById("clickTip");
        var tipText = '';
        if (isPaused) { tipText = '停止播放'; } else { tipText = '继续播放'; }
        tip.innerHTML = tipText;
        tip.style.left = e.pageX + 'px';
        tip.style.top = e.pageY + 'px';
        tip.classList.add('show-tip');
        setTimeout(() => {
          tip.classList.remove('show-tip');
        }, 1500);
      })
      //显示一半的图片后开启自动清理和补充
      setTimeout(() => {
        /*         g_wrapper.on('slideChange', function(){
                  restoreSlideOntime(); // 有问题，用监听的方式，总是跳到第一个去播放，放弃这种方式
                }); */
        setInterval(restoreSlideOntime, autoPlayDelay);
      }, autoPlayDelay * Math.round(allImagesEndIdx / 2));
    }
  </script>
</body>

</html>