<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>全屏图片轮播</title>

  <!-- Swiper CSS -->
  <link rel="stylesheet" href="css/swiper-bundle.min.css" />
  <link rel="stylesheet" href="css/imageshow.css" />

</head>

<body>
  <!-- 全屏轮播容器 -->
  <div class="swiper-container">
    <div class="swiper-wrapper" id="slideshowWrapper"></div>

    <!-- 左右按钮 -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <!-- 提示 -->
    <div id="clickTip"></div>
  </div>

  <!-- Swiper JS -->
  <script src="js/swiper-bundle.min.js"></script>

  <!-- 自定义脚本 -->
  <script>
    // 获取参数
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const subDir = urlParams.has('subDir')?urlParams.get('subDir'):'';

    // 获取图片列表
    let allImages = [];
    let allImagesEndIdx = 10;
    let autoPlayDelay = 6000;
    let isPaused = false;
    var g_wrapper = null;


    fetch('/api/all-images?subDir='+encodeURIComponent(subDir))
      .then(response => response.json())
      .then(data => {
        allImages = data.images;
        initSlideshow();
      })
      .catch(error => console.error('获取图片失败:', error));

    function restoreSlideOntime() {
      if (isPaused || allImagesEndIdx >= allImages.length) return;
      //console.log("autoplay callback, allImagesEndIdx: " + allImagesEndIdx);
      const imageUrl = allImages[allImagesEndIdx];
      const index = allImagesEndIdx;
      allImagesEndIdx = allImagesEndIdx + 1;
      const slide = document.createElement('div');
      slide.className = 'swiper-slide';
      slide.innerHTML = `<img src="${imageUrl}" alt="轮播图片 ${index + 1}">`;
      if (g_wrapper === null) { g_wrapper = new Swiper('.swiper-container'); }
      g_wrapper.removeSlide(0);//(wrapper.firstElementChild);
      g_wrapper.appendSlide(slide);
      g_wrapper.update();
    }

    function initSlideshow() {
      if (!Array.isArray(allImages) || allImages.length == 0) return;
      console.log('start initSlideshow');
      const wrapper = document.getElementById('slideshowWrapper');
      wrapper.innerHTML = '';
      if (allImagesEndIdx > allImages.length) allImagesEndIdx = allImages.length;
      for (let i = 0; i < allImagesEndIdx; i++) {
        const imageUrl = allImages[i];
        const index = i;
        const slide = document.createElement('div');
        slide.className = 'swiper-slide';
        slide.innerHTML = `<img src="${imageUrl}" alt="轮播图片 ${index + 1}">`;
        wrapper.appendChild(slide);
      }
      //allImages.forEach((imageUrl, index) => { });

      // 初始化 Swiper
      g_wrapper = new Swiper('.swiper-container', {
        lazy: true,
        lazyLoadInAdvance: 10,
        loop: true,
        autoplay: {
          delay: autoPlayDelay,
          disableOnInteraction: false,
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
      });
      //
      document.getElementById("slideshowWrapper").addEventListener('click', function (e) {
        isPaused = !isPaused;
        if (g_wrapper != null) {
          if (!isPaused) {
            g_wrapper.autoplay.start();
          }
          else {
            g_wrapper.autoplay.stop();
          }
        }
        const tip = document.getElementById("clickTip");
        var tipText = '';
        if (isPaused) { tipText = '停止播放'; } else { tipText = '继续播放'; }
        tip.innerHTML = tipText;
        tip.style.left = e.pageX + 'px';
        tip.style.top = e.pageY + 'px';
        tip.classList.add('show-tip');
        setTimeout(() => {
          tip.classList.remove('show-tip');
        }, 1500);
      })
      //      
      setInterval(restoreSlideOntime, autoPlayDelay);
    }
  </script>
</body>

</html>