<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>播放音乐</title>
    <link rel="stylesheet" href="css/music-list.css" />
</head>

<body>

    <div><h1 id="title" class="hidden-click-able" title="点击切换自动播放" onclick="onSwitchAutoPlay()">播放音乐</h1></div>
    <hr>
    <div>
        <h3 id="musicName" class="music-name hidden-click-able" title="点击筛选歌曲" onclick="onFilterFiles()">点击搜索歌曲</h3>
    </div>

    <!-- 音频播放器 -->
    <div><audio id="audioPlayer" controls></audio></div>

    <!-- 音乐列表 -->
    <div class="music-list" id="musicList"></div>

    <!-- 分页按钮 -->
    <div class="pagination" id="pagination"></div>
    <script>
        function getFileName(filePath) {
            var lastSlashIndex = filePath.lastIndexOf('/');
            if (lastSlashIndex == -1) { lastSlashIndex = filePath.lastIndexOf('\\'); }
            if (lastSlashIndex == -1) { return filePath; }
            return filePath.substring(lastSlashIndex + 1);
        }        
    </script>
    <script>
        let fetchFilter = ''; // 文件名筛选
        let flagAutoPlay = false; // 自动播放标记
        let flagAutoPlayAfterFetch = false; // fetch后是否自动播放
        let currentPage = 1; // 当前页码
        let totalPage = 1;
        let totalItems = 10; // 总条目数
        const itemsPerPage = 10; // 每页显示条目数
        const visiblePages = 10; // 可见页码数量

        // 音乐列表获取结束后的额外工作
        function afterFetch(){
            // 是否要随机播放
            if(flagAutoPlay && flagAutoPlayAfterFetch){
                flagAutoPlayAfterFetch = false; // 这个标记只作用一次
                const musicListEl = document.getElementById('musicList');
                const musicListUl = musicListEl.getElementsByTagName('ul')[0];
                const musicListItems = musicListUl.getElementsByTagName('li');
                const sel = Math.floor(Math.random()*(musicListItems.length - 0.5));
                musicListItems[sel].click();
            }
        }

        //获取音乐数据
        async function fetchMusic(page = 1, filter = '') {
            try {
                const params = 'page=' + page 
                        +'&pageSize=' + itemsPerPage
                        +'&filter=' + encodeURIComponent(filter.trim());
                const res = await fetch('/api/page-music?' + params);
                const data = await res.json();
                totalItems = data.total;
                renderMusicList(data.audios); // 显示音乐列表
                renderPagination(); // 显示导航按钮
                afterFetch(); // 其他额外操作
            } catch (err) {
                console.error("获取音乐数据失败:", err);
            }
        }

        // 渲染音乐列表
        function renderMusicList(musicArray) {
            const musicListEl = document.getElementById('musicList');
            musicListEl.innerHTML = '';
            let ul = document.createElement('ul');
            musicArray.forEach(music => {
                const li = document.createElement('li');
                const musicName = getFileName(music);
                li.className = 'music-item';
                li.innerHTML = musicName;
                li.onclick = () => {
                    const musicNameEle = document.getElementById("musicName");
                    musicNameEle.innerHTML = musicName;
                    playMusic(music);
                };
                ul.appendChild(li);
            });
            musicListEl.appendChild(ul);
        }

        // 播放音乐
        function playMusic(url) {
            const audioPlayer = document.getElementById('audioPlayer');
            audioPlayer.src = url;
            audioPlayer.play();
        }

        function renderPagination() {
            const totalPages = Math.ceil(totalItems / itemsPerPage);
            const paginationContainer = document.getElementById('pagination');
            paginationContainer.innerHTML = '';

            // 计算起始页码和结束页码
            let startPage = Math.max(currentPage - Math.floor(visiblePages / 2), 1);
            let endPage = Math.min(startPage + visiblePages - 1, totalPages);

            // 如果总页数少于可见页码数，则从第一页开始显示
            if (totalPages <= visiblePages) {
                startPage = 1;
                endPage = totalPages;
            }

            // 添加“首页”按钮
            if (currentPage > 1) {
                addPaginationButton(1, '<<', () => gotoPage(1));
            } else {
                addPaginationButton(1, '<<', null, true);
            }

            // 添加“上一页”按钮
            if (currentPage > 1) {
                addPaginationButton(currentPage - 1, '<', () => gotoPage(currentPage - 1));
            } else {
                addPaginationButton(currentPage - 1, '<', null, true);
            }

            // 添加省略号（如果需要）
            if (startPage > 2) {
                addPaginationButton(null, '...', null, true);
            }

            // 添加页码按钮
            for (let i = startPage; i <= endPage; i++) {
                addPaginationButton(i, i, () => gotoPage(i), i === currentPage);
            }

            // 添加省略号（如果需要）
            if (endPage < totalPages - 1) {
                addPaginationButton(null, '...', null, true);
            }

            // 添加“下一页”按钮
            if (currentPage < totalPages) {
                addPaginationButton(currentPage + 1, '>', () => gotoPage(currentPage + 1));
            } else {
                addPaginationButton(currentPage + 1, '>', null, true);
            }

            // 添加“末页”按钮
            if (currentPage < totalPages) {
                addPaginationButton(totalPages, '>>', () => gotoPage(totalPages));
            } else {
                addPaginationButton(totalPages, '>>', null, true);
            }            
        }

        function addPaginationButton(page, text, onClick, disabled = false) {
            const button = document.createElement('button');
            button.textContent = text;
            if (disabled) {
                button.classList.add('disabled');
            } else {
                button.addEventListener('click', onClick);
            }
            if (page === currentPage) {
                button.classList.add('active');
            }
            document.getElementById('pagination').appendChild(button);
        }

        // switch auto play
        function onSwitchAutoPlay(){
            const h1 = document.getElementById("title");
            flagAutoPlay = !flagAutoPlay;
            if(flagAutoPlay){
                h1.innerHTML = '自动播放音乐';
                const audioPlayer = document.getElementById('audioPlayer');
                if(audioPlayer.ended || audioPlayer.paused){
                    audioPlayer.dispatchEvent(new Event('ended')); // 触发结束事件
                }
            }
            else{
                h1.innerHTML = '播放音乐';
            }
        }
        // 筛选歌曲
        function onFilterFiles(){
            var filter = prompt("输入要查找的文件信息",'');
            if(filter === null) filter = '';
            fetchFilter = filter.trim();
            var musicNameEle = document.getElementById('musicName');
            if(fetchFilter.length > 0){
                musicNameEle.classList.add('music-name-aft-filter');
            }
            else{
                musicNameEle.classList.remove('music-name-aft-filter');
            }
            gotoPage(1);
        }

        function gotoPage(page) {
            currentPage = page;
            fetchMusic(page,fetchFilter);
        }

        function prepareAutoPlay(){
            const audioPlayer = document.getElementById('audioPlayer');
            audioPlayer.addEventListener('ended', ()=>{
                if(!flagAutoPlay) return;
                const totalPages = Math.ceil(totalItems / itemsPerPage);
                const page = Math.floor(Math.random()*(totalPages - 0.5)) + 1;
                flagAutoPlayAfterFetch = true; // fetch 是异步的，这里设置标记，fetch结束后根据这个标记判断是否自动播放
                gotoPage(page); // 跳转到随机页面
            });
        }
        

        function init(){
            // 初始化加载第一页
            gotoPage(currentPage);
            prepareAutoPlay(); 
        }

        // 初始化
        init(); 
    </script>
</body>

</html>