<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8" />
    <title>播放视频</title>
    <link rel="stylesheet" href="css/play.css" />
    <link rel="stylesheet" href="css/danmaku.css" />
    <style></style>
</head>

<body>
    <script src="js/flv.min.js"></script>
    <script src="js/js.cookie.min.js"></script>
    <script>
        const subtileExts = ['.vtt'];
        const videoExtMap = new Map([
            ['.rmvb', ''],
            ['.mkv', ''], // mkv格式，给的格式要为空，因为mkv只是容器，具体编码未知，有的mkv能播放有的不能
            ['.mp4', 'video/mp4'],
        ]);

        var queryString = window.location.search;
        var origin = window.location.origin;
        var pathname = window.location.pathname;
        var urlParams = new URLSearchParams(queryString);
        var fullPath = sessionStorage.getItem('fullPath');
        if (null === fullPath) { fullPath = (urlParams.get('path')); }

        var fullPathList = []; // select 控件中的播放列表
        var videoSlipTime = 10; // 加载播放进度后向前移动一段时间
        var videoSetCurrentTimeRange = [0.05, 0.95]; // 自动设置进度条时只在中间区域有效
        var bShowDanmaku = true; // 如果有弹幕，弹幕显示开关
    </script>
    <div class="wrapper">
        <h2 id="til">
        </h2>
        <div class="video-container">
            <div class="video-canvas">
                <video id="video" controls autoplay>
                    <source id="video_source" src="" type="">
                    您的浏览器不支持视频播放。
                </video>
                <div id="danmaku-container"></div>
            </div>
            <div id="add_container" class="add-container">
                <button id="btn_pre">前一集</button>|
                <button id="btn_next">后一集</button>|
                <span id="auto_play_text">自动播放(关)：</span>
                <label for="auto_play_switch" class="switch">
                    <input type="checkbox" id="auto_play_switch">
                    <div class="checkbox-slider"></div>
                </label>
                <button id="btn_danmaku" onclick="onClickDanmaku()">弹幕</button>
                <select id="select_list" class="select-container">
                </select>
            </div>

            <hr id="hr" />
        </div>

    </div>

    <script>
        // 设置播放文件
        function setVideoFile() {
            // 设置标题
            document.getElementById("til").innerHTML = '正在播放 ' + fullPath;
            var base_name = fullPath.substring(fullPath.lastIndexOf('/') + 1);
            document.title = '播放视频-' + base_name;

            var ext = fullPath.substring(fullPath.lastIndexOf('.')).toLowerCase();
            var videoSourceElement = document.getElementById("video_source");
            videoSourceElement.src = fullPath;
            videoSourceElement.type = videoExtMap.get(ext);
            // flv
            if ('.flv' === ext && flvjs.isSupported()) {
                try {
                    const video = document.getElementById('video');
                    const flvPlayer = flvjs.createPlayer({
                        type: 'flv',
                        url: fullPath
                    });
                    flvPlayer.attachMediaElement(video);
                    flvPlayer.load();
                    flvPlayer.play();
                } catch (error) {
                    console.error('flv 出错', error);
                    warning(error.message);
                }
            } else {
                const video = document.getElementById('video');
                video.load();
                video.play();
            }
        }
        // 设置按键
        function setButtions() {
            var ind = fullPathList.indexOf(fullPath);
            if (ind != -1) {
                var button_container = document.getElementById("add_container");
                var btn_pre = document.getElementById("btn_pre");
                var btn_next = document.getElementById("btn_next");
                // 有前一集
                if (ind > 0) {
                    btn_pre.value = fullPathList[ind - 1];
                    btn_pre.innerText = '前一集';
                    btn_pre.style.display = 'block';
                } else {
                    btn_pre.style.display = 'none';
                }
                // 有后一集
                if (ind < fullPathList.length - 1) {
                    btn_next.value = fullPathList[ind + 1];
                    btn_next.id = 'btn_next';
                    btn_next.innerText = '后一集';
                    btn_next.style.display = 'block';
                } else {
                    btn_next.style.display = 'none';
                }
                // 隐藏自动播放
                if (ind == 0 && ind == fullPathList.length - 1) {
                    var add_container = document.getElementById('add_container');
                    var hr = document.getElementById('hr');
                    //add_container.style.visibility = 'hidden';
                    add_container.style.display = 'none';
                    hr.style.display = 'none';
                }
                select_list.selectedIndex = ind;
            } else {

            }
        }
        // 配置select列表
        function setSelects() {
            // 填充select
            var select_list = document.getElementById("select_list");
            select_list.innerHTML = '';
            fullPathList.forEach((val, ind) => {
                var base_name = val.substring(val.lastIndexOf('/') + 1, val.lastIndexOf('.'));
                var option_ele = document.createElement("option");
                option_ele.value = val;
                option_ele.innerText = base_name;
                select_list.add(option_ele);
            });
        }
        // 获取字幕
        function getSubtitles() {
            // 删除原来的字幕
            const video = document.getElementById('video');
            if (video.textTracks && video.textTracks.length > 0) {
                video.textTracks.forEach((val, ind) => {
                    video.removeChild(val);
                });
            }
            // 尝试添加字幕
            fetch('/api/lookfor-subtitles?path=' + encodeURIComponent(fullPath) + '&subtitleExts=' + encodeURIComponent(JSON.stringify(subtileExts)))
                .then(response => response.json())
                .then(data => {
                    if (data.subtitles.length > 0) {
                        var subtitles = data.subtitles;
                        const video = document.getElementById('video');
                        subtitles.forEach((val, ind) => {
                            var track = document.createElement('track');
                            track.src = val.file;
                            track.kind = "captions";
                            track.srclang = val.label;
                            track.label = val.label;
                            video.appendChild(track);
                        });
                    }
                })
                .catch(error => console.error('获取字幕失败:', error));
        }
        // 关闭弹幕
        function displayDanmaku(enable) {
            var danmaku = document.getElementById('danmaku-container');
            if (enable) {
                danmaku.style.display = 'block';
            } else {
                danmaku.style.display = 'none';
            }
        }
        // 弹幕按钮
        function displayDanmakuButton(enable) {
            var btn_danmaku = document.getElementById('btn_danmaku');
            if (enable) {
                btn_danmaku.style.display = 'block';
            } else {
                btn_danmaku.style.display = 'none';
            }

        }
        // 切换弹幕
        function onClickDanmaku() {
            bShowDanmaku = !bShowDanmaku;
            Cookies.set('bShowDanmaku', bShowDanmaku, {expires: 2, path : ''});
            const btn_danmaku = document.getElementById('btn_danmaku');
            if (bShowDanmaku) {
                btn_danmaku.style.backgroundColor = '#c0c0c0';
                displayDanmaku(true);
            } else {
                btn_danmaku.style.backgroundColor = 'transparent';
                displayDanmaku(false);
            }
        }
        // 删除弹幕内容
        function clearDanmaku() {
            var danmaku = document.getElementById('danmaku-container');
            danmaku.innerHTML = '';
        }
        // 删除过时的弹幕
        function deleteDanmaku(currentTime, expires) {
            const danmaku = document.getElementById('danmaku-container');
            const items = danmaku.children;
            for (let i = 0; i < items.length; i++) {
                if (items[i].time < currentTime - expires) {
                    danmaku.removeChild(items[i]);
                }
            }
        }
        // 制作弹幕轨道
        function createDanmakuTrails(font_height) {
            const danmaku = document.getElementById('danmaku-container');
            var trails = [];
            for (let i = 0; i < danmaku.clientHeight - font_height; i += font_height) {
                trails.push({ positionY: i, item: { time: 0, text: '', font: 0 } });
            }
            return trails;
        }
        // 获取弹幕
        var danmakuData = []; // 弹幕数据
        var danmakuDataIteratorIndex = 0; // 根据当前视频时间向后更新搜索指针，避免重头开始搜索弹幕
        function getDanmaku() {
            // 删除原来的弹幕
            clearDanmaku();
            displayDanmaku(false);
            displayDanmakuButton(false);
            danmakuData = []; // 清除弹幕数据
            danmakuDataIteratorIndex = 0; // 根据当前视频时间向后更新搜索指针，避免重头开始搜索弹幕
            // 尝试添加字幕
            fetch('/api/lookfor-danmaku?path=' + encodeURIComponent(fullPath))
                .then(response => response.text())
                .then(data => {
                    if (data) {
                        // bilibili的xml格式弹幕字符串转换为数组
                        // bilibili弹幕格式[弹幕出现时间(秒),弹幕模式(1~3滚动，4底部，5顶部，6逆向，7定位，8高级),字号,颜色(十进制整数),unix时间戳,弹幕池,发送者ID,弹幕ID]
                        const parser = new DOMParser();
                        const xmlDoc = parser.parseFromString(data, 'text/xml');
                        const danmakuList = xmlDoc.getElementsByTagName('d');
                        // 读取弹幕
                        danmakuData = Array.from(danmakuList).map(item => {
                            var p = item.getAttribute('p').split(',');
                            return {
                                time: parseFloat(p[0]),
                                text: item.textContent,
                                color: parseInt(p[3]),
                                font: parseInt(p[2])
                            }
                        });
                        // 按照时间排序
                        danmakuData.sort((a, b) => { return a.time - b.time; });
                        // 显示弹幕按钮
                        if (danmakuData.length > 0) {
                            displayDanmakuButton(true);
                            displayDanmaku(true);
                        } else {
                            displayDanmakuButton(false);
                            displayDanmaku(false);
                            console.log('no danmaku data found');
                        }
                    } else {
                        console.warn('获取弹幕信息为空');
                    }
                })
                .catch((error) => {
                    console.error('获取弹幕失败:', error);
                });
        }
        // 弹幕实时更新函数
        function addDanmakuListener() {
            // 制作弹幕轨道
            const font_height = 27;
            var trails = createDanmakuTrails(font_height);
            // 更新弹幕
            const danmaku = document.getElementById('danmaku-container');
            const danmaku_run_time = 16; // 弹幕一个行程的用时
            const danmaku_run_distance = 3 * danmaku.clientWidth;// 弹幕一个行程的路程
            const danmaku_run_speed = danmaku_run_distance / danmaku_run_time;
            const video = document.getElementById('video');
            video.addEventListener('timeupdate', () => {
                const danmaku = document.getElementById('danmaku-container');
                const video_curr_time = video.currentTime;
                // 删除过时弹幕
                deleteDanmaku(video_curr_time, danmaku_run_time);
                if (!bShowDanmaku || danmakuData.length == 0) return; // 不显示弹幕
                // 选取当前时间点附近的弹幕
                var activeDanmakuData = [];
                var danmaku_catch_time_window = 2;
                for (let i = danmakuDataIteratorIndex; i < danmakuData.length; i++) {
                    const item = danmakuData[i];
                    if (Math.abs(video_curr_time - item.time) < danmaku_catch_time_window) {
                        activeDanmakuData.push(item);
                    }
                    if (item.time > video_curr_time + danmaku_catch_time_window) {
                        // 下次继续
                        danmakuDataIteratorIndex = i;
                        break;
                    }
                }
                // 计算轨道剩余空间
                function calcReserveDist(item) {
                    return (video_curr_time - item.item.time) * danmaku_run_speed - item.item.text.length * item.item.font;
                }
                // 轨道根据剩余空间从大到小排序
                trails.sort((a, b) => {
                    // 计算剩余空间
                    return calcReserveDist(b) - calcReserveDist(a);
                });
                // 随机选一部分来显示
                activeDanmakuData.sort((a, b) => { return Math.random() - 0.5; });
                const max_select_num = 20; // 一次最多选20个
                var append_item_ind = 0; // 这次已经加载给轨道的弹幕数量
                // 在轨道中选择
                for (let j = 0; j < trails.length; j++) {
                    const reserve_dist = calcReserveDist(trails[j]);
                    if (reserve_dist > 0 && append_item_ind < activeDanmakuData.length) {
                        const item = activeDanmakuData[append_item_ind];
                        // 有剩余空间
                        // 使用这个轨道并且更新这个轨道的信息
                        const ele = document.createElement('div');
                        ele.className = 'danmaku-item';
                        ele.style.color = '#' + item.color.toString(16);
                        ele.textContent = item.text;
                        ele.style.fontSize = `${item.font}px`;
                        ele.style.animation = `danmaku-item-move ${danmaku_run_time}s linear 0s 1 normal forwards`;
                        ele.style.top = `${trails[j].positionY}px`;
                        ele.time = video_curr_time;
                        ele.trail_index = j;
                        danmaku.appendChild(ele);
                        trails[j].item = item;
                        // 判断下次
                        append_item_ind++;
                    }
                }
            });
            // 重新搜索弹幕
            // 进度条监听
            video.addEventListener('seeked', () => {
                clearDanmaku();
                danmakuDataIteratorIndex = 0; // 重头开始搜索弹幕
                trails = createDanmakuTrails(font_height);
            });
            // 暂停
            video.addEventListener('pause', () => {
                const danmaku_items = document.querySelectorAll('.danmaku-item');
                danmaku_items.forEach((value, key) => {
                    value.style.animationPlayState = 'paused';
                });
            });
            // 播放
            video.addEventListener('play', () => {
                const danmaku_items = document.querySelectorAll('.danmaku-item');
                danmaku_items.forEach((value, key) => {
                    value.style.animationPlayState = 'running';
                });
            });
        }

        // 进度条信息cookie的key名称
        function getCookieVideoCurrentTimeFlag() {
            return 'video-current-time-' + fullPath;
        }

        // 保存video相关cookies
        function setVideoCookies() {
            const video = document.getElementById('video');
            const opt = { expires: 2, path: '' };
            var timeRangePos = video.currentTime / video.duration;
            if (timeRangePos >= videoSetCurrentTimeRange[0] && timeRangePos <= videoSetCurrentTimeRange[1]) {
                Cookies.set(getCookieVideoCurrentTimeFlag(), video.currentTime, opt);
            } else {
                Cookies.remove(getCookieVideoCurrentTimeFlag(), opt);
            }
        }

        function setFullPath(filename) {
            fullPath = filename;
            // 存到 sessionStorage 中
            sessionStorage.setItem('fullPath', fullPath);
        }

        // 播放其他文件
        function resetPlayFile(filename) {
            setVideoCookies();
            setFullPath(filename);
            setVideoFile();
            getSubtitles();
            getDanmaku();
            setButtions();
        }
        // initialize
        async function init() {
            //console.log(fullPath);
            setVideoFile();
            getSubtitles();
            getDanmaku();
            // 获取播放列表
            await fetch('/api/play-list?fullPath=' + encodeURIComponent(fullPath))
                .then(response => response.json())
                .then(name_list => {
                    fullPathList = name_list;
                    fullPathList.sort();
                    //fullPathList.sort((a, b) => { return a.localeCompare(b, 'zh-Hans-CN', { numeric: true }); }); // 这样排序可能会遇到更复杂的问题
                    setSelects();
                    setButtions();
                })
                .catch(error => console.error('获取播放列表失败:', error));
            // 修改自动播放
            var auto_play_checked = document.getElementById('auto_play_switch');
            if (Cookies.get('autoPlayFlag')) {
                auto_play_checked.checked = true;
            } else {
                auto_play_checked.checked = false;
            }
            // 修改自动播放文本
            auto_play_checked.addEventListener('change', function () {
                var auto_play_text = document.getElementById('auto_play_text');
                if (this.checked) {
                    auto_play_text.innerText = '自动播放(开)：';
                } else {
                    auto_play_text.innerText = '自动播放(关)：';
                }
                // 更新 cookie
                Cookies.set('autoPlayFlag', auto_play_checked.checked, { expires: 2, path: '' });
            });
            const changeEvent = new Event('change');
            auto_play_checked.dispatchEvent(changeEvent);
            // select 点击响应
            var select_list = document.getElementById("select_list");
            select_list.addEventListener('change', function () {
                const sel_val = select_list.value;
                if (sel_val == fullPath) {
                    // 同一个页面，不需要跳转
                } else {
                    resetPlayFile(sel_val);
                }
            });
            // 按钮响应
            var btn_pre = document.getElementById("btn_pre");
            var btn_next = document.getElementById("btn_next");
            btn_pre.addEventListener('click', function () {
                resetPlayFile(this.value);
            });
            btn_next.addEventListener('click', function () {
                resetPlayFile(this.value);
            });
            // 播放结束时的响应
            const video = document.getElementById('video');
            video.addEventListener('ended', function () {
                var btn_next = document.getElementById('btn_next');
                if (btn_next.checkVisibility()) {
                    var auto_play_checked = document.getElementById('auto_play_switch');
                    if (auto_play_checked.checked) {
                        btn_next.click();
                    }
                }
            });
            // video响应
            video.addEventListener('loadedmetadata', function () {
                const video = document.getElementById('video');
                // 读取cookie
                var cookieVideoCurrentTime = Cookies.get(getCookieVideoCurrentTimeFlag());
                if (cookieVideoCurrentTime) {
                    video.currentTime = cookieVideoCurrentTime - videoSlipTime;
                }
                // 弹幕更新监听函数
                addDanmakuListener();                
            });
            // 弹幕按钮开关
            if(Cookies.get('bShowDanmaku')){
                bShowDanmaku = false; // 先设为false，再click，就会变为 true
            } else {
                bShowDanmaku = true;
            }
            const btn_danmaku = document.getElementById('btn_danmaku');
            btn_danmaku.click();
            // 关闭页面时保存 cookie
            window.addEventListener('beforeunload', function (event) {
                setVideoCookies();
            });
            
        }

        // run
        init();
    </script>

</body>

</html>