<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8" />
    <title>播放视频</title>
    <link rel="stylesheet" href="css/play.css" />
    <style>
        .video-container {
            width: 100%;
            height: 100%;
            position: relative;
            padding: 0;
        }

        #danmaku-container {
            height: 50%;
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            pointer-events: none;
        }

        .danmaku-item {
            position: absolute;
            color: white;
            font-size: 18px;
            white-space: nowrap;
            overflow: hidden;
            animation: danmaku-item-move 16s linear infinite;
        }

        #btn_danmaku {
            margin: 0px 5px;
            padding: 0px 5px;
            background-color: #c0c0c0;
            display: none;
        }
        @keyframes danmaku-item-move {
            from {
                left: 100%
            }

            to {
                left: -200%
            }
        }
    </style>
</head>

<body>
    <script src="js/flv.min.js"></script>
    <script src="js/js.cookie.min.js"></script>
    <script>
        const subtileExts = ['.vtt'];
        const videoExtMap = new Map([
            ['.rmvb', ''],
            ['.mkv', ''], // mkv格式，给的格式要为空，因为mkv只是容器，具体编码未知，有的mkv能播放有的不能
            ['.mp4', 'video/mp4'],
        ]);

        var queryString = window.location.search;
        var origin = window.location.origin;
        var pathname = window.location.pathname;
        var urlParams = new URLSearchParams(queryString);
        var fullPath = sessionStorage.getItem('fullPath');
        if (null === fullPath) { fullPath = (urlParams.get('path')); }

        var fullPathList = [];
        var videoSlipTime = 10;
        var videoSlipVolume = 0.05;
        var videoSetCurrentTimeRange = [0.05, 0.95]; // 自动设置进度条时只在中间区域有效
        var bShowDanmaku = true;
    </script>
    <div class="wrapper">
        <h2 id="til">
        </h2>
        <div class="video-container">
            <video id="video" controls autoplay>
                <source id="video_source" src="" type="">
                您的浏览器不支持视频播放。
            </video>
            <div id="danmaku-container"></div>
            <div id="add_container" class="add-container">
                <button id="btn_pre">前一集</button>|
                <button id="btn_next">后一集</button>|
                <span id="auto_play_text">自动播放(关)：</span>
                <label for="auto_play_switch" class="switch">
                    <input type="checkbox" id="auto_play_switch">
                    <div class="checkbox-slider"></div>
                </label>
                <button id="btn_danmaku" onclick="onClickDanmaku()">弹幕</button>
                <select id="select_list" class="select-container">
                </select>
            </div>

            <hr id="hr" />
        </div>

    </div>

    <script>
        // 设置播放文件
        function setVideoFile() {
            // 设置标题
            document.getElementById("til").innerHTML = '正在播放 ' + fullPath;
            var base_name = fullPath.substring(fullPath.lastIndexOf('/') + 1);
            document.title = '播放视频-' + base_name;

            var ext = fullPath.substring(fullPath.lastIndexOf('.')).toLowerCase();
            var videoSourceElement = document.getElementById("video_source");
            videoSourceElement.src = fullPath;
            videoSourceElement.type = videoExtMap.get(ext);
            // flv
            if ('.flv' === ext && flvjs.isSupported()) {
                try {
                    const video = document.getElementById('video');
                    const flvPlayer = flvjs.createPlayer({
                        type: 'flv',
                        url: fullPath
                    });
                    flvPlayer.attachMediaElement(video);
                    flvPlayer.load();
                    flvPlayer.play();
                } catch (error) {
                    console.error('flv 出错', error);
                    warning(error.message);
                }
            } else {
                const video = document.getElementById('video');
                video.load();
                video.play();
            }
        }
        // 设置按键
        function setButtions() {
            var ind = fullPathList.indexOf(fullPath);
            if (ind != -1) {
                var button_container = document.getElementById("add_container");
                var btn_pre = document.getElementById("btn_pre");
                var btn_next = document.getElementById("btn_next");
                // 有前一集
                if (ind > 0) {
                    btn_pre.value = fullPathList[ind - 1];
                    btn_pre.innerText = '前一集';
                    btn_pre.style.display = 'block';
                } else {
                    btn_pre.style.display = 'none';
                }
                // 有后一集
                if (ind < fullPathList.length - 1) {
                    btn_next.value = fullPathList[ind + 1];
                    btn_next.id = 'btn_next';
                    btn_next.innerText = '后一集';
                    btn_next.style.display = 'block';
                } else {
                    btn_next.style.display = 'none';
                }
                // 隐藏自动播放
                if (ind == 0 && ind == fullPathList.length - 1) {
                    var add_container = document.getElementById('add_container');
                    var hr = document.getElementById('hr');
                    //add_container.style.visibility = 'hidden';
                    add_container.style.display = 'none';
                    hr.style.display = 'none';
                }
                // 填充select
                var select_list = document.getElementById("select_list");
                select_list.innerHTML = '';
                fullPathList.forEach((val, ind) => {
                    var base_name = val.substring(val.lastIndexOf('/') + 1, val.lastIndexOf('.'));
                    var option_ele = document.createElement("option");
                    option_ele.value = val;
                    option_ele.innerText = base_name;
                    select_list.add(option_ele);
                });
                select_list.selectedIndex = ind;
            } else {

            }
        }
        // 获取字幕
        function getSubtitles() {
            // 删除原来的字幕
            const video = document.getElementById('video');
            if (video.textTracks && video.textTracks.length > 0) {
                video.textTracks.forEach((val, ind) => {
                    video.removeChild(val);
                });
            }
            // 尝试添加字幕
            fetch('/api/lookfor-subtitles?path=' + encodeURIComponent(fullPath) + '&subtitleExts=' + encodeURIComponent(JSON.stringify(subtileExts)))
                .then(response => response.json())
                .then(data => {
                    if (data.subtitles.length > 0) {
                        var subtitles = data.subtitles;
                        const video = document.getElementById('video');
                        subtitles.forEach((val, ind) => {
                            var track = document.createElement('track');
                            track.src = val.file;
                            track.kind = "captions";
                            track.srclang = val.label;
                            track.label = val.label;
                            video.appendChild(track);
                        });
                    }
                })
                .catch(error => console.error('获取字幕失败:', error));
        }
        // 删除弹幕
        function clearDanmaku() {
            var danmaku = document.getElementById('danmaku-container');
            danmaku.innerHTML = '';
        }
        // 切换弹幕
        function onClickDanmaku(){
            bShowDanmaku = !bShowDanmaku;
            const btn_danmaku = document.getElementById('btn_danmaku');
            if(bShowDanmaku){
                btn_danmaku.style.backgroundColor = '#c0c0c0';
            } else {
                btn_danmaku.style.backgroundColor = 'transparent';
                clearDanmaku();
            }
        }
        // 获取弹幕
        function getDanmaku() {
            // 删除原来的
            const danmaku = document.getElementById('danmaku-container');
            danmaku.innerHTML = '';
            // 尝试添加字幕
            fetch('/api/lookfor-danmaku?path=' + encodeURIComponent(fullPath))
                .then(response => response.text())
                .then(data => {
                    // 删除原来的弹幕
                    clearDanmaku();
                    if (data) {
                        const parser = new DOMParser();
                        const xmlDoc = parser.parseFromString(data, 'text/xml');
                        const danmakuList = xmlDoc.getElementsByTagName('d');
                        // 读取弹幕
                        const danmakuData = Array.from(danmakuList).map(item => {
                            var p = item.getAttribute('p').split(',');
                            return {
                                time: parseFloat(p[0]),
                                text: item.textContent,
                                color: parseInt(p[3]),
                                font: parseInt(p[2])
                            }
                        });
                        // 显示弹幕按钮
                        if(danmakuData.length > 0) {
                            var btn_danmaku = document.getElementById('btn_danmaku');
                            btn_danmaku.style.display = 'block';
                        } else {
                            var danmaku = document.getElementById('danmaku-container');
                            danmaku.style.display = 'none';
                            return;
                        }
                        // 按照时间排序
                        danmakuData.sort((a, b) => { return a.time - b.time; });
                        const video = document.getElementById('video');
                        var idxItem = 0;
                        video.addEventListener('timeupdate', () => {
                            var danmaku = document.getElementById('danmaku-container');
                            // 删除旧的
                            var items = danmaku.children;
                            const expire_time = 10;
                            for (let i = 0; i < items.length; i++) {
                                if (items[i].time < video.currentTime - expire_time) {
                                    danmaku.removeChild(items[i]);
                                }
                            }
                            if(!bShowDanmaku) return; // 不显示弹幕
                            // 选取一部分
                            var activeDanmakuData = [];
                            var time_padding = 2;
                            for (let i = idxItem; i < danmakuData.length; i++) {
                                const item = danmakuData[i];
                                if (Math.abs(video.currentTime - item.time) < time_padding) {
                                    activeDanmakuData.push(item);
                                }
                                if (item.time > video.currentTime + time_padding) {
                                    // 下次继续
                                    idxItem = i;
                                    break;
                                }
                            }
                            // 再随机选取和显示
                            activeDanmakuData.sort((a, b) => { return Math.random() - 0.5; });
                            
                            // 增加新的
                            const actLen = 20;
                            for (let i = 0; i < Math.min(actLen, activeDanmakuData.length); i++) {
                                const item = activeDanmakuData[i]
                                const ele = document.createElement('div');
                                ele.className = 'danmaku-item';
                                ele.style.color = item.color;
                                ele.textContent = item.text;
                                ele.style.font = item.font;
                                ele.style.top = `${Math.floor((Math.random() * 50) / 10) * 10}%`;
                                ele.time = item.time;
                                danmaku.appendChild(ele);
                            }

                        });
                    } else {
                        console.error('获取弹幕信息失败：'); 
                        // 删除原来的弹幕
                        clearDanmaku();
                        var danmaku = document.getElementById('danmaku-container');
                        danmaku.style.display = 'none';
                    }
                })
                .catch(error => console.error('获取弹幕失败:', error));
        }

        // 进度条信息cookie的key名称
        function getCookieVideoCurrentTimeFlag() {
            return 'video-current-time-' + fullPath;
        }

        // 保存video相关cookies
        function setVideoCookies() {
            const video = document.getElementById('video');
            const opt = { expires: 2, path: '' };
            var timeRangePos = video.currentTime / video.duration;
            if (timeRangePos >= videoSetCurrentTimeRange[0] && timeRangePos <= videoSetCurrentTimeRange[1]) {
                Cookies.set(getCookieVideoCurrentTimeFlag(), video.currentTime, opt);
            } else {
                Cookies.remove(getCookieVideoCurrentTimeFlag(), opt);
            }
        }

        function setFullPath(filename) {
            fullPath = filename;
            // 存到 sessionStorage 中
            sessionStorage.setItem('fullPath', fullPath);
        }

        // 播放其他文件
        function resetPlayFile(filename) {
            setVideoCookies();
            setFullPath(filename);
            setVideoFile();
            getSubtitles();
            getDanmaku();
            setButtions();
        }
        // initialize
        async function init() {
            //console.log(fullPath);
            setVideoFile();
            getSubtitles();
            getDanmaku();
            // 获取播放列表
            await fetch('/api/play-list?fullPath=' + encodeURIComponent(fullPath))
                .then(response => response.json())
                .then(name_list => {
                    fullPathList = name_list;
                    fullPathList.sort();
                    //fullPathList.sort((a, b) => { return a.localeCompare(b, 'zh-Hans-CN', { numeric: true }); }); // 这样排序可能会遇到更复杂的问题
                    setButtions();
                })
                .catch(error => console.error('获取播放列表失败:', error));
            // 修改自动播放
            var auto_play_checked = document.getElementById('auto_play_switch');
            if (Cookies.get('autoPlayFlag')) {
                auto_play_checked.checked = true;
            } else {
                auto_play_checked.checked = false;
            }
            // 修改自动播放文本
            auto_play_checked.addEventListener('change', function () {
                var auto_play_text = document.getElementById('auto_play_text');
                if (this.checked) {
                    auto_play_text.innerText = '自动播放(开)：';
                } else {
                    auto_play_text.innerText = '自动播放(关)：';
                }
                // 更新 cookie
                Cookies.set('autoPlayFlag', auto_play_checked.checked, { expires: 5, path: '' });
            });
            const changeEvent = new Event('change');
            auto_play_checked.dispatchEvent(changeEvent);
            // select 点击响应
            var select_list = document.getElementById("select_list");
            select_list.addEventListener('change', function () {
                const sel_val = select_list.value;
                if (sel_val == fullPath) {
                    // 同一个页面，不需要跳转
                } else {
                    resetPlayFile(sel_val);
                }
            });
            // 按钮响应
            var btn_pre = document.getElementById("btn_pre");
            var btn_next = document.getElementById("btn_next");
            btn_pre.addEventListener('click', function () {
                resetPlayFile(this.value);
            });
            btn_next.addEventListener('click', function () {
                resetPlayFile(this.value);
            });
            // 播放结束时的响应
            const video = document.getElementById('video');
            video.addEventListener('ended', function () {
                var btn_next = document.getElementById('btn_next');
                if (btn_next.checkVisibility()) {
                    var auto_play_checked = document.getElementById('auto_play_switch');
                    if (auto_play_checked.checked) {
                        btn_next.click();
                    }
                }
            });
            // video响应
            video.addEventListener('loadedmetadata', function () {
                const video = document.getElementById('video');
                // 读取cookie
                var cookieVideoCurrentTime = Cookies.get(getCookieVideoCurrentTimeFlag());
                if (cookieVideoCurrentTime) {
                    video.currentTime = cookieVideoCurrentTime - videoSlipTime;
                }
            });
            // 关闭页面时保存 cookie
            window.addEventListener('beforeunload', function (event) {
                setVideoCookies();
            });
        }

        // run
        init();
    </script>

</body>

</html>