<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="UTF-8" />
<title>播放视频</title>
<link rel="stylesheet" href="css/play.css" />
</head>
<body>
    <script src="js/flv.min.js"></script>
    <script>
        const videoExtMap = new Map([
            ['mp4','video/mp4'],
        ]);
        var queryString = window.location.search;
        var urlParams = new URLSearchParams(queryString);
        var fullPath = urlParams.get('path');
    </script>
<div>
    <h2>正在播放 <script>document.write(fullPath)</script></h2>
    <video id="video" controls autoplay >
    <source id="video_source" src="" type="">
    您的浏览器不支持视频播放。
    </video>
</div>

<script>
    var ext = fullPath.substring(fullPath.lastIndexOf('.')+1).toLowerCase();
    var videoSourceElement = document.getElementById("video_source");
    videoSourceElement.src = fullPath;
    videoSourceElement.type = videoExtMap.get(ext);
    // flv
    if('flv' === ext && flvjs.isSupported()){
        try{
            const video = document.getElementById('video');
            const flvPlayer = flvjs.createPlayer({
                type: 'flv',
                url: fullPath
            });
            flvPlayer.attachMediaElement(video);
            flvPlayer.load();
            flvPlayer.play();
        }catch(error){
            console.error('flv 出错：', error);
            warning(error.message);
        }
    }
</script>

</body>
</html>