#video_canvas {
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0;
}

#video_canvas:fullscreen {
    width: 100%;
    height: 100%;
    display: flex;
}

#video_canvas:fullscreen video {
    width: 100%;
    height: auto;
    max-height: 100vh;
}

#danmaku_container {
    height: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    display: none;
}

.danmaku-item {
    position: absolute;
    color: white;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
}

.gray-btn{    
    margin: 0px 5px;
    padding: 0px 5px;
    background-color: #d0d0d0;
}

#btn_danmaku {
    display: none;
}

#btn_fullscreen{
    display: none;
}

@keyframes danmaku-item-move {
    from {
        left: 100%
    }

    to {
        left: -200%
    }
}