html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #000;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* 按钮样式 */
.swiper-button-next,
.swiper-button-prev {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    opacity: 1;
}

#clickTip {
    position: fixed;
    transform: translateX(-50%);
    background-color: #555;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1.0s ease;
    z-index: 9999;
}

#clickTip.show-tip {
    opacity: 1;
}