body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
    color: #333;
}

.video-container {
    align-items: center;
    max-width: 800px;
    margin: 40px auto 20px;
    padding: 0px;
}

h2 {
    text-align: left;
    margin-bottom: 20px;
}

#til {
    cursor: pointer;
}
#til:hover{
    color: #c0c0c0;
}

.add-container {
    display: none;
    align-items: center;
    margin: 10px 0px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 16px;
    margin-right: 10px;
}

.checkbox-slider {
    position: absolute;
    cursor: pointer;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #d0d0d0;
    transition: transform 0.3s;
}

.checkbox-slider:before {
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    top: 0px;
    left: 4px;
    background-color: #777;
    transition: transform 0.3s;
}

.add-container input[type="checkbox"] {
    display: none;
}

#auto_play_switch:checked+.checkbox-slider:before {
    transform: translateX(16px);
    background-color: #000;
}

#auto_play_switch:checked+.checkbox-slider {
    background-color: #d0d0d0;
}

button {
    cursor: pointer;
    padding: 0;
    border: none;
    background: transparent;
    transition: transform 0.2s ease;
}

button:hover {
    transform: scale(1.12);
}

#btn_pre,
#btn_next {
    margin: 0px 5px;
    display: none;
}

#auto_play_text {
    padding: 0;
    margin-left: 5px;
}

video {
    width: 100%;
    /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); */
}

.select-container {
    max-width: 50%;
    min-width: 80px;
    margin-left: auto;
    display: inline-block;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;

}

select {
    border: none;
    background: transparent;
    border-radius: 0;
}

select:focus {
    background: transparent;
    outline: none;
}

select:hover {
    cursor: pointer;
}

select option {
    background-color: #f0f0f0;
    color: #333;
    text-align: left;
}